{% extends "base.html" %}
{% block content %}
<br/>
    <div class="row">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white col-md-auto">
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a href="/wiki/sun" class="list-group-item list-group-item-action py-2 ripple"><span>Sun</span></a>
              <a href="/wiki/mercury" class="list-group-item list-group-item-action py-2 ripple"><span>Mercury</span></a>
              <a href="/wiki/venus" class="list-group-item list-group-item-action py-2 ripple"><span>Venus</span></a>
              <a href="/wiki/earth" class="list-group-item list-group-item-action py-2 ripple"><span>Earth</span></a>
              <a href="/wiki/mars" class="list-group-item list-group-item-action py-2 ripple"><span>Mars</span></a>
              <a href="/wiki/jupiter" class="list-group-item list-group-item-action py-2 ripple"><span>Jupiter</span></a>
              <a href="/wiki/saturn" class="list-group-item list-group-item-action py-2 ripple"><span>Saturn</span></a>
              <a href="/wiki/uranus" class="list-group-item list-group-item-action py-2 ripple"><span>Uranus</span></a>
              <a href="/wiki/neptune" class="list-group-item list-group-item-action py-2 ripple"><span>Neptune</span></a>
            </div>
          </div>
        </nav>
        <div class="col">
            <h1>{{ planet.title }}</h1>
            <hr>
            <div class="container">
                <img src="{{url_for('static', filename='assets/')}}{{ planet.image_url }}" alt="{{ planet.name }}" width="200" height="200" class="float-start m-3">
                <span>{{ planet.desc }}</span>
            </div>
        </div>
    </div>
<br/>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}



